UPDATE `threeyd`.`django_site` SET `domain`='app-{{deploy_env}}.3yourmind.com' WHERE `domain`='app.3yourmind.com';
UPDATE `threeyd`.`django_site` SET `domain`='app-{{deploy_env}}-backstage.3yourmind.com' WHERE `domain`='app-backstage.3yourmind.com';
