FS_THRESHOLD0={{hardened.cron.fs_check.threshold0}}
SES_SMTP_HOST={{creds.aws_ses.smtp}}
SES_SMTP_PORT={{creds.aws_ses.port}}
SES_SMTP_USER={{creds.aws_ses.iam_user}}
SES_SMTP_SECRET={{creds.aws_ses.secret}}
